.jobListingCard {
	background: none;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 0;

	display: flex; /* valor original */
	align-items: start;
	gap: 1rem;

	&.is-hidden {
		display: none;
	}

	small {
		font-size: 0.875rem;
		opacity: 0.75;
	}

	p {
		margin-top: 0.5rem;
		margin-right: 0.75rem;
	}

	&:last-child {
		border-bottom: none;
	}
}

.link {
	margin-left: 1rem;
	text-decoration: underline var(--primary);
	font-size: 0.75rem;
	font-family:
		monospace,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

.btnApplyJob {
	background-color: var(--primary);

	&.isApplied {
		background-color: #4caf50;
		opacity: 0.75;
		cursor: not-allowed;
	}
}

.favoriteButton {
}
